* {
    font-family: "Nanum Myeongjo", serif;
}
#hero {
    background-image: url(https://media.istockphoto.com/id/495601102/photo/rainy-day-in-seattle.jpg?s=612x612&w=0&k=20&c=f3QAS_0DakT7-uMPBpzrRHkpMCntNkOzOVwpWtIjF4I=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh ;
    margin: 0;
    padding: 0;
}
.bottom-background{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAxL3N0YXJ0dXBpbWFnZXNfYWNyeWxpY19wb3VyaW5nX2FydF9ibGFja19hbmRfZ3JleV9hbmRfd2hpdGVfZ3JhZF9jMTk3N2E2OS0wMzRiLTRkZDAtOGY2ZS0zYTcyMzFmYmQ3MDlfMS5qcGc.jpg);

}
.media{
    text-align: center;
}



button{
    background-color: blue;
    color: white;
    margin-top: -30px;
}

.menu ul{
    list-style-type: none;
    text-align: center;
    
}
.menu li{
    display: inline;
    margin-left: 10px;

}
    

#summer{
    color: blue;
    text-align: center;
    margin: 100px;
    
}
#hot{
    margin-top: -20px;
    text-align: center;
    margin: -100px
    
}
#fish{
    color: blue;
    text-align: center;
}
#Contact{
    text-align: center;
}
#water{
    color: blue;
}
#spring{
    margin-top: -20px;
}
#flower{
    margin-top: -20px;
}

.big-mama {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-top: -320px;
    height: -10px;
}
.big-mama label{
    margin-bottom: 40px;
}
#rain {
    background-color: blue;
    }
#blue{
    margin-top: 11px;
}
#pool{
    text-align: center;
}
#saw{
    text-align: center;
}
#sky{
    text-align: center;
}
#black{
    text-align: center;
}
#white{
    text-align: center;
}
#grey{
    text-align: center;
}
.icon{
    text-align: center;
}
/**
 * Know About Me Section
 **/ 
#know-about-me {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container {
    margin: auto;
    padding: 10px 20px;
    max-width: 800px;
    min-width: 750px;
    display: flex;
}

#know-about-me #water {
    font-size: 1rem;
    margin: 0;
}

#know-about-me .title {
    font-size: 2.5rem;
    margin-top: 8px;
}

#know-about-me .content {
    width: 50%;
}

#know-about-me .image {
    width: 50%;
    text-align: right;
    position: relative;
}

#know-about-me .image picture::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 175px;
    width: 175px;
    height: 188px;
    border: solid 7px navy;
}